[submodule "izrada-web-stranice-web-shop-azivkov"]
	path = izrada-web-stranice-web-shop-azivkov
	url = https://github.com/azivkov/izrada-web-stranice-web-shop-azivkov.git
[submodule "interiart"]
	path = interiart
	url = https://github.com/azivkov/interiart.git
[submodule "weatherapp"]
	path = weatherapp
	url = https://github.com/azivkov/weatherapp.git
[submodule "todolist"]
	path = todolist
	url = https://github.com/azivkov/todolist.git
